# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/eng/*

engine/abc
engine/yosys
engine/boolector
include/*
lib/*
!lib/libcmd-linux18.a
!lib/libcmd-linux16.a
!lib/libcmd-mac.a
!include/cmdCharDef.h
!include/cmdParser.h
!include/myUsage.h
!include/rnGen.h
!include/util.h
!include/gmp.h
!include/gmpxx.h
!src/Makefile.lib

cir1.v
cir2.v
yosys*
top*
map*

bin/*
funcsupp.txt
unateness.txt
preprocess/*
abc.tar.gz
gv
output.txt